{% extends 'index.html' %}

{% block title %}
    Менеджер | {{ department.name }}
{% endblock %}

{% block content%}
    <section class="ftco-section contact-section">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                                        <div class="section-title text-center">
                    <h3>Меню {{ department.name }}</h3>
                </div>
             <form method="post" role="form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                  <p><b>Оберіть амбулаторію: </b> {{ form.department }}</p>
              </div>
              <div class="form-group">
                  {{ form.name }}
              </div>
              <div class="form-group">
                {{ form.post }}
              </div>
              <div class="form-group">
                <p><b>Фотографія:</b> {{ form.image }}</p>
              </div>
              <div class="form-group">
                {{ form.room }}
              </div>
              <div class="form-group">
                {{ form.schedule }}
              </div>
              <div class="form-group">
                  <p><b>Видимость: </b> {{ form.is_visible }}</p>
              </div>
              <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary py-3 px-5">
              </div>
            </form>
					</div>
				</div>
			</div>
		</section>
{% endblock%}