{% extends 'index.html' %}

{% block title %}
    Менеджер | Створення амбулаторії
{% endblock %}

{% block content%}
    <section class="ftco-section contact-section">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                                        <div class="section-title text-center">
                    <h3>Меню створення амбулаторії</h3>
                </div>
             <form method="post" role="form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                  <p><b>Скороченна назва закладу: </b> {{ form.name }}</p>
              </div>
              <div class="form-group">
                  <p><b>Повна назва закладу: </b> {{ form.full_name }}</p>
              </div>
              <div class="form-group">
                <p><b>ПІБ завідувача: </b> {{ form.manager }}</p>
              </div>
              <div class="form-group">
                  <p><b>Фотографія:</b> {{ form.image }}</p>
              </div>
              <div class="form-group">
                <p><b>Адреса: </b> {{ form.address }}</p>
              </div>
              <div class="form-group">
                <p><b>Номер телефону: </b> {{ form.phone }}</p>
              </div>
              <div class="form-group">
                  <p><b>Номер закладу: </b> {{ form.number }}</p>
              </div>
              <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary py-3 px-5">
              </div>
            </form>
					</div>
				</div>
			</div>
		</section>
{% endblock%}