{% load static %}
{% load user_app_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ЦПМСД Русанівка | {% block title %}Головна{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Комунальне некомерційне підприємство Центр первинної медико-санітарної допомоги Русанівка Дніпровського району м. Києва за адресою: вул. Ентузіастів, 49. Номер телефону - +38(044)-295-39-49, email - psl_rusanivka_golovna@ukr.net. Графік роботи: Будні - 8.00-20.00, Cубота - 9.00-15.00, Неділя - 9.00-15.00 (вул. Ентузіастів, 49)">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/open-iconic-bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">

    <link rel="stylesheet" href="{% static "css/ionicons.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.timepicker.css" %}">

    
    <link rel="stylesheet" href="{% static "css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "css/icomoon.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/dropdownstyle.css" %}">
    <link rel="stylesheet" href="{% static "css/pdf_style.css" %}">
  </head>
  <body>
    <nav class="navbar py-4 navbar-expand-lg ftco_navbar navbar-light bg-light flex-row">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
    			<div class="col-lg-2 pr-4 align-items-center">
		    		<a class="navbar-brand" href="{% url 'user_app:home_view' %}"><img src="{% static "images/logo.png" %}" height="100px" width="102px"></a>
	    		</div>
	    		<div class="col-lg-10 d-none d-md-block">
		    		<div class="row d-flex">
			    		<div class="col-md-4 pr-4 d-flex topper align-items-center">
			    			<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><img src="{% static 'images/location.png' %}" height="50%" width="50%"></div>
                            <span class="text">Адреса: м. Київ, вул. Ентузіастів, 49</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><img src="{% static 'images/paper-plane.png' %}" height="50%" width="50%"></div>
						    <span class="text">Email: <a href="mailto:psl_rusanivka_golovna@ukr.net">psl_rusanivka_golovna@ukr.net</a></span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><img src="{% static 'images/telephone.png' %}" height="50%" width="50%"></div>
						    <p><span>Телефон:</span> <a href="tel://044 295 39 49">+38(044)-295-66-58</a></p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </nav>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        Меню
	      </button>
	      <p class="button-custom order-lg-last mb-0"><a href="https://helsi.me/clinic/40800a5d-2f82-46d2-9c67-a455ff3f04c9?mode=table" class="btn btn-secondary py-2 px-3" target="_blank">Запис на прийом</a></p>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item"><a href="{% url 'user_app:home_view' %}" class="nav-link pl-0">ГОЛОВНА</a></li>
	        	<li class="nav-item"><a href="{% url 'user_app:admin_view' %}" class="nav-link">АДМІНІСТРАЦІЯ</a></li>
                <div class="dropdown">
                  <button class="dropbtn">АМБУЛАТОРІЇ <img src="{% static 'images/down.png' %}"></button>
                  {% get_departments_for_menu as departments_menu %}
                  <div class="dropdown-content">
                    {% for item in departments_menu %}
                    <a href="{% url 'user_app:ambulant_view' id=item.id %}">{{ item.name|upper }}</a>
                    {% endfor %}
                  </div>
                </div>
                <div class="dropdown">
                  <button class="dropbtn">ІНФОРМАЦІЯ ДЛЯ КЛІЄНТІВ <img src="{% static 'images/down.png' %}"></button>
                  <div class="dropdown-content">
                    <a href="{% url 'user_app:drugs_view' %}">ЛІКАРСЬКІ ЗАСОБИ</a>
                    <a href="{% url 'user_app:blogs_view' slug='bezoplatn-medichn-poslugi' %}">БЕЗОПЛАТНІ МЕДИЧНІ ПОСЛУГИ</a>
                    <a href="{% url 'user_app:blogs_view' slug='platn-medichn-poslugi' %}">ПЛАТНІ МЕДИЧНІ ПОСЛУГИ</a>
                    <a href="{% url 'user_app:blogs_view' slug='zakupvl' %}">ЗАКУПІВЛІ</a>
                  </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">БЕЗБАР’ЄРНІСТЬ <img src="{% static 'images/down.png' %}"></button>
                  <div class="dropdown-content">
                    {% get_blog_category_for_menu as blog_categories_menu %}
                    {% for category in blog_categories_menu %}
                      <a href="{% url 'user_app:blogs_view' slug=category.slug %}">{{ category.title|upper }}</a>
                    {% endfor %}
                  </div>
                </div>
	          <li class="nav-item"><a href="{% url 'user_app:contact_view' %}" class="nav-link">КОНТАКТИ</a></li>
                {% if 'manager' in user.groups.all.0.name %}
                <div class="dropdown">
                    <button class="dropbtn">Менеджер <img src="{% static 'images/down.png' %}"></button>
                  <div class="dropdown-content">
                      <a href="{% url 'contact_list_view' %}">Зворотній зв'язок</a>
                  </div>
                </div>
                {% endif %}
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    {% block content %}
    {% endblock %}

		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2 logo">ЦПМСД <span>Русанівка</span></h2>
              <p>Комунальне некомерційне підприємство "Центр первинної медико-санітарної допомоги "Русанівка" Дніпровського району м. Києва"</p>
            </div>
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Маєте запитання?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="text">Адреса: <b>м. Київ, вул. Ентузіастів, 49</b></span></li>
                      <li><span class="text">Тел: <b>+38(044)-295-66-58</b></span></li>
                      <li><span class="text">Email: <b>psl_rusanivka_golovna@ukr.net</b></span></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Посилання</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'user_app:home_view' %}">Головна</a></li>
                <li><a href="{% url 'user_app:admin_view' %}">Адміністрація</a></li>
                {% comment %}
                <li><a href="{% url 'user_app:document_view' %}">Статут</a></li>
                {% endcomment %}
                <li><a href="{% url 'user_app:blogs_view' slug="novini" %}">Новини</a></li>
                <li><a href="{% url 'user_app:contact_view' %}">Контакти</a></li>
              </ul>
            </div>
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Амбулаторії</h2>
              <ul class="list-unstyled">
                {% for item in departments_menu %}
                <li><a href="{% url 'user_app:ambulant_view' id=item.id %}">{{ item.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Останні новини</h2>
              {% get_blogs as blogs %}
                {% for blog in blogs %}
              <div class="block-21 mb-4 d-flex">
                <a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}" class="blog-img mr-4" style="background-image: url({{ blog.image.url }});"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}">{{ blog.title }}</a></h3>
                  <div class="meta">
                      <div><a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}"> {{ blog.create|date:'d.m.Y' }}</a></div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="col-md">
          	<div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Графік</h2>
                <h3 class="open-hours pl-4"><img src="{% static 'images/time.png' %}" height="10%" width="10%"> Будні - 8.00-20.00</h3>
            	<h3 class="open-hours pl-4"><img src="{% static 'images/time.png' %}" height="10%" width="10%"> Cубота - 9.00-15.00</h3>
            	<h3 class="open-hours pl-4"><img src="{% static 'images/time.png' %}" height="10%" width="10%"> Неділя - 9.00-15.00 (вул. Ентузіастів, 49)</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
              ЦПМСД "Русанівка" &copy;<script>document.write(new Date().getFullYear());</script> Усі права захищені.</p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static "js/aos.js" %}"></script>
  <script src="{% static "js/jquery.animateNumber.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "js/jquery.timepicker.min.js" %}"></script>
  <script src="{% static "js/scrollax.min.js" %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&xsensor=false"></script>
  <script src="{% static "js/google-map.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/carousel.js" %}"></script>
  <script src="https://mozilla.github.io/pdf.js/build/pdf.mjs" type="module"></script>
  {% block additional_scripts %}{% endblock %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var modal = document.getElementById('successModal');
      if (modal) {
        var modalInstance = new bootstrap.Modal(modal);
        modalInstance.show();
      }
    });
  </script>  
  </body>
</html>
