<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

   <url>
      <loc>{{ request.scheme }}://{{ request.get_host }}</loc>
      <lastmod>2005-01-01</lastmod>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>

    {% for obj in departments %}
    <url>
      <loc>{{ request.scheme }}://{{ request.get_host }}</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
    {% endfor %}

    {% for obj in doctors %}
    <url>
      <loc>{{ request.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
    {% endfor %}

    {% for obj in administrations %}
    <url>
      <loc>{{ request.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
    {% endfor %}

    {% for obj in blogs %}
    <url>
      <loc>{{ request.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
    {% endfor %}

    {% for obj in blog_images %}
    <url>
      <loc>{{ request.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
    {% endfor %}

</urlset>