{% extends 'index.html' %}
{% load static %}
{% load new_tags %}
{% load user_app_tags %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">{{ blog.title }}</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'user_app:home_view' %}">Головна /</a></span> <span> <a href="{% url 'user_app:blogs_view' %}"> Новини /</a></span> <span>  {{ blog.title }}</span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">#{{ blog.id }} {{ blog.title }}</h2>
            <p>
              <img class="d-block w-100" src="{{ blog.image.url }}">
                {% for image in images %}
                  <img class="d-block w-100" src="{{ image.image.url }}">
                {% endfor %}
            </p>
              {% for text in blog.text|split:'\n' %}
            <p>{{ text }}</p>
              {% endfor %}
               {% if 'manager' in user.groups.all.0.name %}
                    <div class="section-title text-center">
                        <p><a href="{% url 'update_blog' pk=blog.pk%}">Редагувати: <img src="{% static 'images/edit.png' %}"></a></p>
                    </div>
                   <div class="section-title text-center">
                        <p><a href="{% url 'delete_blog' pk=blog.pk%}">Видалити: <img src="{% static 'images/remove.png' %}"></a></p>
                   </div>
                {% endif %}
          </div> <!-- .col-md-8 -->

          <div class="col-lg-4 sidebar ftco-animate">

            <div class="sidebar-box ftco-animate">
              <h3>Останні новини</h3>
              {% get_blogs as news %}
                {% for recent_item in news %}
              <div class="block-21 mb-4 d-flex">
                <a href="{% url 'user_app:blog_single_view' id=recent_item.id slug=recent_item.slug %}" class="blog-img mr-4" style="background-image: url({{ recent_item.image.url }});"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'user_app:blog_single_view' id=recent_item.id slug=recent_item.slug %}">{{ recent_item.title }}</a></h3>
                  <div class="meta">
                    <div>{{ recent_item.create|date:'d.m.Y' }}</div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div><!-- END COL -->
        </div>
			</div>
		</section>
{% endblock %}
