{% extends 'index.html' %}
{% load static %}
{% load new_tags %}
{% block title %}
    {{ category.title }}
{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">{{ category.title }}</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'user_app:home_view' %}">Головна /</a></span><span>{{ category.title }}</span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
                    {% for blog in blogs %}
                  <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                      <a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}" class="block-20" style="background-image: url({{ blog.image.url }});">
                                        <div class="meta-date text-center p-2">
                          <span class="day">{{ blog.create|date:'d.m.Y' }}</span>
                        </div>
                      </a>
                      <div class="text bg-white p-4">
                        <h3 class="heading"><a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}">{{ blog.title }}</a></h3>
                          {% if blog.text %}
				                    <p>{{ blog.text|slice:'100'|replace:'\n' }}{% if blog.text|length > 200 %}...{% endif %}</p>
                          {% endif %}
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}" class="btn btn-primary">Детальніше</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% endfor %}
        </div>
        {% if page_obj.has_next or page_obj.has_previous %}
        <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                  {% if page_obj.has_previous%}
                <li><a href="?page={{ page_obj.previous_page_number }}"><img src="{% static 'images/prev.png' %}" width="30%" height="30%" style="margin-bottom: 10%"></a></li>
                  {% endif %}
              {% for page in page_obj.paginator.page_range %}
                  {% if page == page_obj.number %}
                <li class="active"><span>{{ page }}</span></li>
                  {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"><img src="{% static 'images/next.png' %}" width="30%" height="30%" style="margin-bottom: 10%"></a></li>
              {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
            {% if 'manager' in user.groups.all.0.name %}
                <div class="section-title text-center">
                    <a href="{% url 'add_blog' %}"><img src="{% static 'images/plus.png' %}"></a>
                </div>
            {% endif %}
			</div>
		</section>
{% endblock %}
