{% extends 'index.html' %}
{% load static %}
{% load new_tags %}
{% load user_app_tags %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">ПЛАТНІ МЕДИЧНІ ПОСЛУГИ</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'user_app:home_view' %}">Головна /</a></span><span>ПЛАТНІ МЕДИЧНІ ПОСЛУГИ</span></p>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="section-title text-center">
        <h2 class="mt-4">
          Готуємо оновлення: послуги незабаром!
        </h2>
      </div>
      <div class="section-title text-center mt-4">
        <img src="{% static 'images/Not Found.png'%}">
      </div>
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
              <span class="subheading">Перегляньте останні новини</span>
            </div>
          </div>
          <div class="row">
            {% get_blogs as recent_blogs %}
                      {% for blog in recent_blogs %}
            <div class="col-md-4 ftco-animate">
              <div class="blog-entry">
                <a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}" class="block-20" style="background-image: url({{ blog.image.url }});">
                  <div class="meta-date text-center p-2">
                    <span class="day">{{ blog.create|date:'d.m.Y' }}</span>
                  </div>
                </a>
                <div class="text bg-white p-4">
                  <h3 class="heading"><a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}">{{ blog.title }}</a></h3>
                    {% if blog.text %}
                  <p>{{ blog.text|slice:'200'|replace:'\n' }}{% if blog.text|length > 200 %}....{% endif %}</p>
                    {% endif %}
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="{% url 'user_app:blog_single_view' slug_category=blog.category.slug id=blog.id slug=blog.slug %}" class="btn btn-primary">Детальніше</a></p>
                  </div>
                </div>
              </div>
            </div>
                      {% endfor %}
          </div>
        </div>
      </section>
    </div>
			</div>
		</section>
{% endblock %}
