{% extends 'index.html' %}
{% load static %}
{% load user_app_tags %}

{% block title %}
    Скринінг 40+
{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Скринінг 40+</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'user_app:home_view' %}">Головна /</a></span><span><a href=""> Інформація для клієнтів /</a></span><span> Скринінг 40+</span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Варіанти запису на проходження скринінгу</h2>
            <ul>
                <li>Через кабінет пацієнта на <a href="https://helsi.me/doctor/2e0dfa45-d6b9-4189-9871-7188e42fcb54" target="_blank">Helsi.me</a></li>
                <li>Зателефонувати в реєстратуру Амбулаторії загальної практики - сімейної медицини №1 за номером: <a href="tel:+380442956658">+38 044 295 66 58</a></li>
                <li>Зателефонувати координатору за номером: <a href="tel:+380671710820">+38 067 171 08 20</a></li>
                <li>Особисто прийти в заклад та записатись в реєстратурі за адресою: вул. Ентузіастів, 49</li>
            </ul>
          </div> <!-- .col-md-8 -->
        </div>
			</div>
		</section>
{% endblock %}